h1 {
    text-align: center;
}
body{
	background-color: wheat;
}

.table {
    background-color: blue;
    margin: 0 auto;
}

td {
    border: 2px solid blue;
    border-radius: 100%;
    background-color: white;
    width: 70px;
    height: 70px;
}
button{
	background-color: blue;
	color: white;
	border: none;
	width : 5%;
	height: 8%;
}